body{
    background-image: url("https://i.pinimg.com/236x/31/84/3b/31843b65da8b4e1bf4e9ff95df2dbecf.jpg");
    background-size: 175vh 100vh ;
    font-family: Arial;
    backdrop-filter: blur(2px);
    height:100vh
  }
  
  .menu{
    background-color: white;
  }
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  a{
    color: #31445c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
  }
