*{
  margin: 0px;
  padding: 0px;
  box-sizing: bor;
}

body{
    background-image: url("../img/fundo.jpg");
    background-size: 220vh 220vh ;
    font-family: Arial;
    height:100vh;
    font-size: 12px;
    }
/*se a tela estiver +- 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body{
      font-size: 14px;
    }  
  }

  /* breake point*/
  @media (min-width: 600px){
    body{
      font-size: 18px;
    }
  }

  header{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center; 
  }
  
  .menu{
    background-color: white;
    background-repeat: r white;
    position: fixed;
    top: 0;
    width: 100vw;
    
  }
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    padding: 20px 40px;
  }
  
  a{
    color: #31445c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
  }
  .site-title{
    font-size: 4em;
  }
  
  .site-subtitle{
    font-style: italic;
  }

  .img-portfolio{
    border-radius: 120px;
    height: 50px;
    width: 50px;
  }
 .icone{
   border-radius: 120px;
 }

h1, h2, img{
  margin: 10px;
}
 
p {
  color: whitesmoke;
  font-style: italic;
  margin: 50px;

}

.port{
  background-color: #bbcce2;
  background-size: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comun{
  width: 100vw;
  font-size: 5px;
}
.comun li{
  background-color: whitesmoke;
  list-style: none;
  text-decoration: none;
}
